body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.layout{
  height: 100vh;
  
}

header,
footer{
  background-color: rgb(23, 49, 72);
  color: azure;
}

header{
  height: 5%;
}
.home{
  width:100%;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  position: relative;
}

.title{
  background-image: url("./assests/poke-title.png");
  background-size: 50%;
  width:100%;
  height:100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;               
  top: 50%;                         
  transform: translate(0, -50%)
}
.ball{
  background-image: url("./assests/pokeball.png");
  background-size: 25%;
  width:100%;
  height:100%;
  background-repeat: no-repeat;
  position: absolute;               
  top: 50%;                         
  transform: translate(0, -50%)
}

footer{
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
a{
  text-decoration: none;
}

ul a {
  color: azure;
  border-radius: 2px;
  padding: 2px;
}

ul a:hover{
  background-color: coral;
  
}

main{
  background-color: rgb(51, 90, 121);
  min-height: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  color: azure;
}

.single-poke{
  color: rgb(119, 80, 2);
}